APP_NAME=MediTechV2
APP_ENV=local
APP_KEY=base64:EU0vhME3h97agkRDa8K3tJsfLRd2q5PP0e+9whQCOBY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=tes
DB_PORT=tes
DB_DATABASE=tes
DB_USERNAME=tes
DB_PASSWORD=tes

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=file
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# CONSTANTS SIMRS  
# JENIS RAWAT
JENIS_RAWAT_IGD=IGD  
JENIS_RAWAT_RI=RI  
JENIS_RAWAT_RJ=RJ 

# FORM
FORM_ID_CATATAN_AWAL_MEDIS=1
FORM_ID_SOAP=2 #soap
FORM_ID_PENGKAJIAN_AWAL_KEPERAWATAN=3 #pengkajian_awal_keperawatan
FORM_ID_PENGKAJIAN_HARIAN_KEPERAWATAN=4

# OBJEK
OBJEK_ID_SUBJECTIVE=1 #subjective
OBJEK_ID_OBJECTIVE=2 #objective
OBJEK_ID_ASSESSMENT=3 #assessment
OBJEK_ID_PLANNING=4 #planning
OBJEK_ID_INSTRUKSI=5 #intstruksi
OBJEK_ID_SISTOLIK=6 #sistolik
OBJEK_ID_DIASTOLIK=7 #diastolik
OBJEK_ID_BERAT_BADAN=8 #bb
OBJEK_ID_TINGGI_BADAN=9 #tb
OBJEK_ID_NADI=10 #nadi
OBJEK_ID_SUHU=11 #suhu
OBJEK_ID_PERNAPASAN=12 #pernapasan
OBJEK_ID_KELUHAN=13
OBJEK_ID_NYERI=14
OBJEK_ID_SATURASI=15
OBJEK_ID_EWS=16
OBJEK_ID_ALERGI=17
OBJEK_ID_OKSIGEN=18
OBJEK_ID_CARA_PEMBERIAN=19
OBJEK_ID_ETT=20
OBJEK_ID_AGAMA=21 #agama
OBJEK_ID_KEGIATAN_IBADAH_ATAU_BUDAYA=22 #kegiatan_ibadah
OBJEK_ID_TINKAT_PENDIDIKAN=23 #tingkat_pendidikan
OBJEK_ID_PEKERJAAN=24 #pekerjaan
OBJEK_ID_SUKU_BANGSA=25 #suku_bangsa
OBJEK_ID_KEBANGSAAN=26 #kebangsaan
OBJEK_ID_AKTIFITAS_SEBELUM_MAKAN=27
OBJEK_ID_PANTANGAN_PULANG=28
OBJEK_ID_PANTANGAN_TRANSFUSI_DARAH=29
OBJEK_ID_PANTANGAN_MAKAN=30
OBJEK_ID_NAMA_PASANGAN=31
OBJEK_ID_USIA_PASANGAN=32
OBJEK_ID_PENDIDIKAN_PASANGAN=33
OBJEK_ID_PEKERJAAN_PASANGAN=34
OBJEK_ID_SUKU_BANGSA_PASANGAN=35
OBJEK_ID_KEBANGSAAN_PASANGAN=36
OBJEK_ID_TINGGAL_BERSAMA=37
OBJEK_ID_PENANGGUNG_JAWAB_PASIEN=38
OBJEK_ID_HUBUNGAN_PASIEN=39
OBJEK_ID_DIAGNOSA_MEDIS=40
OBJEK_ID_RIWAYAT_PENYAKIT_SEBELUMNYA=41
OBJEK_ID_RIWAYAT_PENYAKIT_SEKARANG=42
OBJEK_ID_INFEKSIUS_FLAG=43
OBJEK_ID_MENULAR_MELALUI=44
OBJEK_ID_INFEKSIUS_MEMERLUKAN_ISOLASI=45
OBJEK_ID_INFEKSIUS_HASIL_PENUNJANG=46
OBJEK_ID_IMUNOLOGI_FLAG=47
OBJEK_ID_IMUNOLOGI_MEMERLUKAN_ISOLASI=48
OBJEK_ID_IMUNOLOGI_PEMBATASAN_PENGUNJUNG=49
OBJEK_ID_IMUNOLOGI_HASIL_PENUNJANG=50
OBJEK_ID_KESADARAN=51
OBJEK_ID_RIWAYAT_KEMOTERAPI=52
OBJEK_ID_RIWAYAT_RADIOTERAPI=53
OBJEK_ID_GCS_E=54
OBJEK_ID_GCS_M=55
OBJEK_ID_GCS_V=56
OBJEK_ID_GCS_SCORE=57
OBJEK_ID_BMI=58
OBJEK_ID_DPO=59
OBJEK_ID_HANDPHONE=60 #handphone
OBJEK_ID_RIW_OPE_KEMO=61 #riw_ope_kemo
OBJEK_ID_RIWAYAT_OPERASI=61 #riwayat_operasi (menggunakan objek Riwayat Operasi Kemo)
OBJEK_ID_VAKSIN_COVID=62
OBJEK_ID_ALLO_ANAMNESA=63
OBJEK_ID_NAMA_ALLO=64
OBJEK_ID_HUBUNGAN_ALLO=65
OBJEK_ID_UP_GO_1_A=66
OBJEK_ID_UP_GO_1_B=67
OBJEK_ID_UP_GO_2=68



# PROFESI
PROFESI_ID_DOKTER=1

# REFERENSI BAGIAN
REF_BAGIAN_RAJAL=1


